.row
  .span12
    %h1
      Host Listing
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th Host ID
          %th IP
      %tbody
        - @hosts.each do |host|
          %tr
            %td
              = link_to(host.id, host, :class => 'btn btn-info')
            %td= host.ip

